---
import Titles from "../Titles.astro"
import AboutIcon from "@/icons/aboutIcon.astro"
import Skills from "@/components/Skills.astro"
import Soft_Skills from "@/components/Soft_Skills.astro";
interface Props{
  id:string
}
const {id} = Astro.props
---
<div class="h-screen py-48 grid grid-cols-4 grid-rows gap-4 lg:w-2/3 lg:mx-auto lg:grid-rows-2 " id={id}>
  <section class="px-2   backdrop-blur-[2px]  shadow shadow-white  rounded-md col-span-4 lg:col-span-2 lg:row-span-2 " >
    <Titles url="about" title="Sobre mí">
      <AboutIcon Class=" text-sky-500 size-7" />
    </Titles>
    <p class=" font-extralight   text-ms my-4">
      <!-- ¡Hola! Soy Sergio, un apasionado entusiasta de la tecnología y el  desarrollo web. Aunque no tengo experiencia laboral formal, he dedicado mi tiempo a trabajar en emocionantes proyectos personales que me han permitido adquirir habilidades sólidas en el mundo de la tecnología. --> Me considero un autodidacta y me encanta aprender nuevas habilidades por mi cuenta. Mi enfoque principal ha sido el desarrollo web y la creación de aplicaciones web interactivas. Mi objetivo es seguir creciendo como  desarrollador y aprender nuevas tecnologías.
    </p>
  </section>
  <section class="px-2 bg-white/5 backdrop-blur-sm shadow-sm rounded-md col-span-4 lg:col-span-2">
    <Skills/>
  </section>
  <section class="px-2 bg-white/5  backdrop-blur-sm shadow-sm rounded-md col-span-4 lg:col-span-2">
    <Soft_Skills/>
  </section>
</div> 
  