---
import Titles from "../Titles.astro"
import AboutIcon from "@/icons/aboutIcon.astro"
import Skills from "@/components/Skills.astro"
import Soft_Skills from "@/components/Soft_Skills.astro";
import Code from "@/icons/code.astro";
---
<div class="h-max py-48 gap-4 w-4/5 mx-auto " >
  <Titles url="Habilidades" title="Skills">
    <Code class="text-purple-500 size-7"/>
  </Titles>
  <!-- <section class="px-2   backdrop-blur-[2px]  shadow shadow-white  rounded-md col-span-4 lg:col-span-2 lg:row-span-2 " >
    <Titles url="about" title="Sobre mí">
      <AboutIcon Class=" text-sky-500 size-7" />
    </Titles>
    <p class=" font-extralight   text-ms my-4">
      ¡Hola! Soy Sergio, un apasionado entusiasta de la tecnología y el  desarrollo web. Aunque no tengo experiencia laboral formal, he dedicado mi tiempo a trabajar en emocionantes proyectos personales que me han permitido adquirir habilidades sólidas en el mundo de la tecnología. Me considero un autodidacta y me encanta aprender nuevas habilidades por mi cuenta. Mi enfoque principal ha sido el desarrollo web y la creación de aplicaciones web interactivas. Mi objetivo es seguir creciendo como  desarrollador y aprender nuevas tecnologías.
    </p>
  </section> -->
  <section class="  backdrop-blur-sm ">
    <Skills/>
  </section>
  <!-- <section class="px-2 bg-white/5  backdrop-blur-sm shadow-sm rounded-md col-span-4 lg:col-span-2">
    <Soft_Skills/>
  </section> -->
</div> 
<style>
  section {
    mask:linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  }
</style>
  