---
import Nav from "./Nav.astro";


---
<div class="appearance-none  bg-gray-400/30 md:bg-transparent rounded-md top-[50rem] right-4 z-50 ">
  <input 
    class="hidden peer/hamb " 
    type="checkbox" 
    id="hamb">
  <label for="hamb" class="w-14 h-14 md:bg-transparent md:hidden  flex flex-col justify-evenly items-center">
    <span class="w-8 h-[4px] bg-cyan-500 dark:bg-white rounded-sm inline-block"></span>
    <span class="w-12 h-[4px] bg-cyan-500 dark:bg-white rounded-sm inline-block"></span>
    <span class="w-8 h-[4px] bg-cyan-500 dark:bg-white rounded-sm inline-block"></span>
  </label>
  <Nav estilos="peer-checked/hamb:max-h-[30rem]  "/> 

</div>  
  