---
import Hamburger from "@/components/Hamburger.astro"

interface Props{
  logo:string,
}
const {logo} = Astro.props;
---
<div class=" w-5/6 mx-auto h-24 px-6 sticky top-2  z-10 flex justify-between lg:justify-around items-center backdrop-blur-2xl">
  <a href="#" class=" text-3xl font-bold bg-[length:200%] bg-gradient-to-r from-purple-400 via-cyan-300 to-purple-400 animate-bg_slow text-transparent bg-clip-text md:text-4 ">
    {logo}
  </a>
  <Hamburger/>
</div>
<style is:global>
  @keyframes bg {
    to{
      background-position: 200% center;
    }
  }
</style>


