---
import Hamburger from "@/components/Hamburger.astro"

interface Props{
  logo:string,
}
const {logo} = Astro.props;
---
<div class=" w-full h-28 px-6 relative flex justify-between lg:justify-around items-center">
  <a href="#" class=" text-3xl font-bold bg-[length:200%] bg-gradient-to-r from-purple-400 via-cyan-300 to-purple-400 animate-bg_slow text-transparent bg-clip-text ">
    {logo}
  </a>
  <Hamburger/>
</div>
<style is:global>
  @keyframes bg {
    to{
      background-position: 200% center;
    }
  }
</style>


