---
interface Props {
  title: string;
  position: string;
}
const { title, position } = Astro.props;
---

<div
  class=`h-14 w-14 gap-4 flex flex-col items-center justify-center absolute animate-tiritar group ${position} md:h-24 md:w-24`
>
  <slot />
  <span
    class="hidden group-hover:inline-block absolute -bottom-6 before:absolute before:-inset-0.5 before:block before:-skew-y-3 before:bg-blue-500"
  >
    <span class="relative text-white italic">{title}</span>
  </span>
</div>
