---
import NavButton from "./NavButton.astro";
import BtnTheme from "../components/BtnTheme.astro";

interface Props {
  estilos: string;
}
const { estilos } = Astro.props;
---

<nav
  class=`${estilos}
    w-80 min-h-full absolute top-20 md:top-0 right-0 py-20 md:py-0
    flex flex-col gap-4 translate-x-0 opacity-100 
    transition-[transform, opacity]  duration-800
    md:opacity-100 md:w-max md:h-min md:relative md:flex-row md:gap-0
    md:dark:bg-transparent md:bg-transparent  md:shadow-none
    md:overflow-visible bg-white/70 dark:bg-gray-900/70 backdrop-blur-lg md:backdrop-blur-none 
 `
>
  <NavButton url="/#inicio" title="Inicio" />
  <NavButton url="/#about" title="Sobre mí" />
  <NavButton url="/#experience" title="Experiencia" />
  <NavButton url="/#projects" title="Proyectos" />
  <NavButton url="/#contact" title="Contacto" />
  <BtnTheme />
</nav>
