---
interface Props{
  url:string,
  title:string,
}
const {url,title} = Astro.props
---
<a href={url} class="w-4/4 inline-block px-6 py-4 focus:decoration-solid hover:decoration-solid
   ease-in-out text-gray-5 hover:drop-shadow-[0_0_15px_rgb(20_184_166)] hover:text-teal-500 font-light text-lg " >
  {title}
</a>
