---
interface Props{
  url:string,
  title:string,
}
const {url,title} = Astro.props
---
<a href={url} class="w-3/4 inline-block px-4 py-4  hover:scale-[1.1]
transition-colors ease-in-out text-gray-5  hover:text-teal-500 text-xl md:text-base lg:text-2xl" >
  {title}
</a>
