---
import { skills } from "../../cv.json"
import type {Icons} from "../img";
import Code from "../icons/code.astro"
import Sass from "../icons/skills/sass.astro"
import Html from "../icons/skills/html.astro"
import Css from "../icons/skills/css.astro"
import JavaScript from "../icons/skills/javascript.astro"
import Tailwind from "../icons/skills/tailwind.astro"
import TypeScript from "../icons/skills/typescript.astro"
import React from "../icons/skills/react.astro"
import Astr from "../icons/skills/astr.astro"
import Next from "../icons/skills/nextjs.astro"
import Node from "../icons/skills/nodejs.astro"
import Java from "../icons/skills/java.astro"
import Spring from "../icons/skills/spring.astro"
import Sql from "../icons/skills/sql.astro"
import PostgresQl from "../icons/skills/postgresql.astro"
import Git from "../icons/skills/git.astro"
import GitHub from "../icons/skills/github.astro"
import Titles from "./Titles.astro"
const SKILLS_ICONS: Icons= {
  Html,
  Css,
  Sass,
  Tailwind,
  JavaScript,
  TypeScript,
  React,
  Astr,
  Next,
  Node,
  Java,
  Spring,
  Sql,
  PostgresQl,
  Git,
  GitHub
}
---
<section class="overflow-hidden  ">
    <ul class="flex gap-16 py-4 skill ">
    { [...skills,...skills].map(({name}) => {
        const iconName = name === "Astro" ? "Astr" : name
        const Icon = SKILLS_ICONS[iconName];
        return ( 
            <li class="">
              {Icon && <Icon class="size-16 "/>} 
            </li>
          )
        }
      )
    }
  </ul>
</section> 
<style>
  @keyframes infinite-scroll {
    0% {
      transform:translateX(0)
    } 
    100% {
      transform: translateX(calc(-50% - 20px))
    }
  }
  .skill {
    animation: infinite-scroll 40s linear infinite;
  }section {
    mask:linear-gradient(90deg, transparent, white 20%, white 70%, transparent);
  }
  
</style>