---
import Titles from "@/components/Titles.astro";
import { soft_skills } from "@cv";
---

<section class="pt-8 mx-auto text-center max-w-7xl sm:px-6 lg:px-8">
  <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">
    Habilidades blandas
  </h2>

  <ul class="px-8 my-4 text-lg text-left list-disc">
    {soft_skills.map(({ soft }) => <li>{soft}</li>)}
  </ul>
</section>
