---
interface Props {
  url: string;
  title:string;
}
const { url,title } = Astro.props;
---
<a href={url} class="dark:text-white font-bold text-xl  select-none pointer-events-none px-1 py-4 flex gap-2 border-b border-black dark:border-white z-0   ">
  <slot/> {title}<a></a>
</a>