---
interface Props {
  url: string;
  title:string;
}
const { url,title } = Astro.props;
---
<a href={url} class=" font-extrabold text-3xl italic select-none pointer-events-none px-1 py-4 flex gap-2 z-0 bg-[length:200%] bg-gradient-to-r from-cyan-400 via-purple-400 to-cyan-400 animate-bg_slow text-transparent bg-clip-text  ">
  <slot/> {title}
</a>
<style>
  @keyframes bg {
    to{
      background-position: 200% center;
    }
  }
</style>