---
import Header from '@/components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="mx-auto bg-gradient-to-bl from-sky-200 via-gray-100 to-purple-200
							dark:from-gray-950 dark:via-gray-950 dark:to-gray-950  dark:text-gray-300 font-jetBrains bg-no-repeat bg-cover bg-fixed ">
      <Header logo='</>'/>
			<slot/>
	</body>
</html>
<style>
	@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');
</style>
